@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500;600;700&display=swap');

@theme {
  --color-dark-bg: #0a0a0a;
  --color-dark-card: #121212;
  --color-crimson: #D0190F;
  --font-display: 'Bebas Neue', sans-serif;
  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: var(--color-dark-bg);
  color: #f3f4f6;
  font-family: var(--font-sans);
}